    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

    /*-------------------- CSS RESET ---------------------------------------------------*/
    
    /* -------------------- ROOT VARIABLES --------------------------------------- */
    :root {
    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;
    }
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
    html {

    }
    body {
    

    }
    header {

    }
    nav {

    }
    [href="#top"] {
        position: fixed;
        bottom: 0px;
        right: 0px;
        border-radius: 10px 0px 0px;
    }
    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
    @media screen {
        
    }
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
    @media screen {
        
    }
    /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

    @media screen {
        
    }



