    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

    /*-------------------- CSS RESET ---------------------------------------------------*/
    
    /* -------------------- ROOT VARIABLES --------------------------------------- */
    :root {
    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;
    --font-family: "Irish Grover", system-ui;
    }
    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
    html {
    
    font-size: 1.25em;
    }
    body {
    margin: auto;
    font-family: Habibi;
    }
    img {
    justify-content: center;
    margin: 20px 100px;
    
    }
    header {
    color:var(--White);
    background-color: var(--Green);
    margin: 50px 0px;
    }
    h1,h2,h3 {
    font-family: "Irish Grover", system-ui;
    }
    h1 {
    font-size: 2.5em;
    }
    h2 {
    font-size: 1.75em;
    }
    h3 {
    font-size: 1.25em;
    text-align: center;

    }
    nav {
        justify-content: center;
        text-align: center;
        display:block;
    }
    li {
    color:var(--White);
    background-color: var(--Orange);
    list-style: none;
    display: block;
    margin: 15px;
    }
    [href="#top"] {
        position: fixed;
        bottom: 0px;
        right: 0px;
        border-radius: 10px 0px 0px;
        color:var(--White);
        background-color: var(--Orange);
        text-decoration: none;
    }
    footer {
    color: var(--White);
    background-color: var(--Green);
    text-align: center;
    text-decoration: none;
    }
    small {
        background-color: var(--White);
        margin-bottom: 20px;
        color: var(--Green);
        text-align: center;
        text-decoration: none;
    }
    /*-------------------- MEDIA QUERY (medium) --------------------------------*/
    @media (min-width: 834px) {
        
    }
    /*-------------------- MEDIA QUERY (large) ------------------------------------*/
    @media (min-width: 1280px) {
        
    }
    /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

    @media (min-width: 1440px) {
        
    }



